<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @access.user %>
</p>

<p>
  <strong>System:</strong>
  <%= @access.system %>
</p>

<p>
  <strong>Count:</strong>
  <%= @access.count %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
